name: check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup show
      - run: rustup toolchain install nightly --profile minimal
      - run: rustup component add rustfmt --toolchain nightly
      - uses: Swatinem/rust-cache@v2
      - run: cargo +nightly fmt --all -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup show
      - run: rustup component add clippy
      - uses: Swatinem/rust-cache@v2
      - run: cargo clippy --all -- -D warnings

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - run: rustup show
      - uses: Swatinem/rust-cache@v2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      #      - name: "Unit tests"
      #        run: |
      #          RUSTFLAGS="-D warnings" cargo test
      - name: "Test examples"
        run: |
          RUSTFLAGS="-D warnings" cargo run --example run_program
      - name: "Unit tests in stwo_run_and_prove"
        run: |
          RUSTFLAGS="-D warnings" cargo test -p stwo_run_and_prove

  udeps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - run: cargo install cargo-udeps --locked
      #      - run: cargo +nightly udeps --all-targets
      - run: cargo +nightly-2025-04-06 udeps
